{
    "wifi": {"ssid1":"passwd1","ssid2":"passwd2"}, //you can enter here multiple wifi
    "api-endpoint": "your-nightscout-api-endpoint",
    "api-token": "your-nightscout-api-endpoint",
    "interval": 60, //nightscout api query interval
    "min": 75, //lowest safe glucose level > emergencyMin
    "max": 180, //highest safe glucose level < emergencyMax
    "emergencyMin": 50, //emergency low glucose level which will trigger beeper and blinking led
    "emergencyMax": 250, //emergency high glucose level which will trigger beeper and blinking led
    //this is only relevant if you use my nightscout server as backend
    "locale": "en-US", //locale for printing elapsed time
    "timezone": "GMT+1", //time zone of gcm device in format GMT+/-Hours 
    "dateFormat": "elapsed" //elapsed or date 
}